<h2>About Developer</h2>
<div fxFlex [style.margin]="'20px'">
  <mat-card [style.min-width]="'200px'">
      <mat-card-content>
        My name is <strong>Thi My Phuc Huynh</strong>, you can call me <strong>Mindy</strong>.
        <br/>I am a student at Seneca College in Computer Programming and Analysis.
        <br/>I am interested in Web Development and wish to find a job in this area.
        This is one of my assignments on learning Angular.
      </mat-card-content>
      <mat-card-actions><button><a href="https://github.com/MindyPhuc">GitHub</a></button></mat-card-actions>
  </mat-card>
</div>
